doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Page Title
  // Bootstrap CSS
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  .container
    a.navbar-brand(href='/') Start Bootstrap
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarAltMarkup.collapse.navbar-collapse.justify-content-end
      .navbar-nav
        a.nav-item.nav-link.text-white.mx-3.text-decoration-none.active(href='/') Home
        a.nav-item.nav-link.text-white.mx-3.text-decoration-none(href='/about') About
        a.nav-item.nav-link.text-white.mx-3.text-decoration-none(href='/service') Service
        a.nav-item.nav-link.text-white.mx-3.text-decoration-none(href='/contact') Contact
.container
  .row.my-3
    .col-md-9
      img(src='https://loremflickr.com/900/400/cat', style='max-width: 100%; height: 100%; border-radius: 5px', alt='')
    .col-md-3
      h2 Hao pro Ngao Senpai Hao Le
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum dolorum consectetur, labore non natus id earum? Natus consectetur nulla quibusdam, suscipit ex iusto. Corporis nihil, modi! Voluptas, libero esse in.
      button.btn.btn-primary Call to Actions!
  if page == 0
    include components/trangchu.pug
  else if page == 1
    include components/about.pug
  else if page == 2
    include components/service.pug
  else
    include components/contact.pug

  .row.my-3
    .card.rounded.col-sm-4
      .card-body
        .card-title
          h5 Hao 1
        .card-text
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore non ullam labore veniam consequatur. Veritatis ipsum
      .card-footer
        button.btn.btn-primary More info
    .card.rounded.col-sm-4
      .card-body
        .card-title
          h5 Hao 1
        .card-text
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore non ullam labore veniam consequatur. Veritatis ipsum
      .card-footer
        button.btn.btn-primary More info
    .card.rounded.col-sm-4
      .card-body
        .card-title
          h5 Hao 1
        .card-text
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore non ullam labore veniam consequatur. Veritatis ipsum
      .card-footer
        button.btn.btn-primary More info
footer.bg-dark.d-flex.align-items-center.justify-content-center(style='height: 100px')
  p.text-white Copyright Your Website 2017
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
