html
	head
		title test
	body
		input(type="text", placeholder="user name...", name="username" id="username")
		br
		input(type="password", placeholder="password...", name="password" id="password")
		br
		button#submit login
		
		script(src="https://unpkg.com/axios/dist/axios.min.js")
		script(src="../js/login.js")

